<!DOCTYPE html>
<html>
    <head>
        <title>OpenCode - Django &amp; Buildout</title>
        <link href="http://fonts.googleapis.com/css?family=Hammersmith+One&amp;v" media="screen" rel="stylesheet" type="text/css"> 
        <link href="http://fonts.googleapis.com/css?family=Lato:light,regular,regularitalic,lightitalic,bold&amp;v1" media="screen" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" media="screen" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script> 
    </head>
    <body>
        <section>
            <h1>OpenCode Qc</h1>
        </section>
    </body>
</html>